*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:  oblique bold 120%  cursive;
    margin: 0;
}

h1{ font-size: 3.5em;
    font: oblique bold 120%  cursive;
  }
h2{ font-size: 2.7em;
   font: oblique bold 120%  cursive;
  }
h3{ font-size: 2em;
   font: oblique bold 120%  cursive;
  }
p{ font-size: 1.25em;
 font: oblique bold 120%  cursive;
 }
ul{ list-style: none;
   font: oblique bold 120%  cursive;
  }
li{ font-size: 1.25em;
  font: oblique bold 120%  cursive;
  }

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color:black;
    background-color: celeste;
}

button:hover{
    background-color: celeste;
    padding: 15px 30px;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.reserbt{
    background-color:celeste;
    color: black;
}

.habi{
    background-color:celeste;
    color: black;
}

.eve{
    background-color:celeste;
    color: black;
}

.resta{
    background-color:celeste;
    color: black;
}

.ofe{
    background-color:celeste;
    color: black;
}

.colora{ 
    color:gray; 
}

header{
    background-color: rgb(135,206,235);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: Gray;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: black;
}

body a{
    padding: 5px ;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

body a:hover{
    color: black;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image:url('../imagenes/index/Hotel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: aquamarine;
}

#hero button{
    font-size: 1.75em;
}

#quienes-somos .container{
    text-align: center;
    padding: 200px 12px;
}

#empleados .container{
    text-align: center;
    padding: 200px 12px;
}

#contacto .container{
    text-align: center;
    padding: 250px 12px;
}

#contacto li{
    margin: 16px 0px;
    font-weight: bold;
}

#contacto{
    background-color:gray;
    color: white;
    text-align: center;
}

#contacto .container{
    padding: 150px 12px;
}

#contacto h2{
    margin-top: 0;
    font-size: 3.2em;
}

#contacto p{
    display: none;
}

.galeria{
    font-family: oblique bold 120%  cursive;
} 

.galeria h1{
    text-align: center;
    margin: 20px 0px 15px 0px;
    font-weight: 300;
}

.gal{
    border-top: 5px solid #0000;
}

.container-imag{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: warp;
    border-radius: 3px;
}

.container-imag .imagen{
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgb(135,206,235);
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#conoce-mas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#conoce-mas .container{
    padding: 150px 12px;
}

#conoce-mas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#conoce-mas p{
    display: none;
}

#conoce-mas .menu{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.menu:first-child{
    background-image:  linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../imagenes/index/Dormitorio.png");
    
}

.menu:nth-child(2){
    background-image:  linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../imagenes/index/Eventos.png");
}

.menu:nth-child(3){
    background-image:  linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../imagenes/index/Restaurante.jpg");
}

.menu:nth-child(4){
    background-image:  linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../imagenes/index/OfertasyPlanes.jpg");
    
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #quienes-somos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #quienes-somos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #quienes-somos h2{
        margin-top: 0px;
    }

    #quienes-somos .img-container{
        background-image: url("../imagenes/index/Hotel.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #empleados .container{
        display: flex;
        justify-content: space-evenly;
    }

    #empleados .texto1{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #empleados h2{
        margin-top: 0px;
    }

    #empleados .img-container{
        background-image: url("../imagenes/index/Empleados.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #contacto{
        background-image: url("../imagenes/index/Salón.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    .galeria{
        font-family: oblique bold 120%  cursive;
    } 

    .galeria h1{
        text-align: center;
        margin: 20px 0px 15px 0px;
        font-weight: 300;
    }

    .gal{
        border-top: 5px solid #0000;
    }

    .container-imag{
        display: flex;
        width: 85%;
        margin: auto;
        justify-content: space-around;
        flex-wrap: warp;
        border-radius: 3px;
    }

    .container-imag .imagen{
        width: 32%;
        position: relative;
        height: 250px;
        margin-bottom: 5px;
        box-shadow: 0px 0px 3px 0px rgb(135,206,235);
    }

    .imagen img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    #contacto .container{
        text-align: initial;
    }

    #contacto ul{
        margin-left: 100px;
    }
    
    #conoce-mas .conoce{
        display: flex;
        justify-content: center;
    }

    #conoce-mas p{
        display: block;
        margin-bottom: 30px;
    }

    #conoce-mas h2{
        font-size: 4em;
    }

    #conoce-mas h3{
        margin-top: 0;
    }

    #conoce-mas .menu{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }
    
    .menu:first-child{
        background-image:  linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../imagenes/index/Dormitorio.png");
        
    }

    .menu:nth-child(2){
        background-image:  linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../imagenes/index/Eventos.png");
        
    }

    .menu:nth-child(3){
        background-image:  linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../imagenes/index/Restaurante.jpg");
        
    }
    
    .menu:nth-child(5){
        background-image:  linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../imagenes/index/OfertasyPlanes.jpg");
        
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #contacto{
        background-position-x: calc(100vw - 800px);
    }
}
